<h1 class="about-us-header">Meet our staff</h1>
<div class="staff-gallery">
<% @all_staff.each do |staff| %>
    <div class="staff-blurb">
        <img src=<%= staff.profile_image %> height="375" width="350" class="staff-image" />
        <p><%= staff.first_name %> <%= staff.last_name %></p> 
    </div>
<% end %>
</div>
<div class="testimonial-about-us">
    <div class="testimonials">
        <h1>Testimonials</h1>
        <img src="/harrison.png" height="375" width="350" class="testimonial-image"/>
        <p>Harrison Booth says:</p>
        <p>I love this gym more than JavaScript!</p>
    </div>
</div>