<h1 class="about-us_header">Hello and welcome to the Super Happy Fun Gym.</h1>
<% @all_staff.each do |staff| %>
    <div class="staff-gallery">
        <p><img src=<%= staff.url %> class="staff-image" /></p>
        <p><%= staff.first_name %></p> <p><%= staff.last_name %></p> 
    </div>
<% end %>