<% @all_classes.each do |gymclass| %>
    <div class="gallery">
        <figure class="gallery-item">
            <img src=<%= gymclass.url %> class="gallery-image" />
        </figure>
    </div>
<% end %>