<% @all_classes.each do |gymclass| %>
    <div class="gallery-row">
        <figure class="gallery-column">
            <img src=<%= gymclass.url %> class="gallery-image" />
        </figure>
    </div>
<% end %>