<div class="list-of-classes-to-edit">
    <p>Here is a list of all upcoming classes that you can edit</p>
    <% @all_classes.each do |gymclass| %>
        <p>Edit the <%=gymclass.name%> class <a href="/edit-class/<%=gymclass.id()%>"><button>Edit <%=gymclass.name()%></button></a></p>
    <% end %>
</div>