<p>Here is a list of all upcoming classes that you can edit</p>
<% @all_classes.each do |gymclass| %>
    <p>Edit the <%=gymclass.name%> class </p> <a href="/edit-class/<%=gymclass.id()%>">Edit class</a>
<% end %>