<div class="homepage-blurb">
    <article class="homepage-post">
        <p>Welcome to the Super Happy Fun Gym.</p>
        <p>If you fancy joining our gym, that would be great! If not, that's</p>
        <p>also great! We love you anyway. Come hang out and chill, and maybe</p>
        <p>do some exercise if that's what you feel like. Or not, it's all good.</p>
    </article>


<form method="post" action="/login">
    <div class="member-login-form">
        <label for="first-name-enter">First name</label>
        <input type="text" id="first-name-enter" name="first_name">
    
        <label for="last-name-enter">Last name</label>
        <input type="text" id="last-name_enter" name="last_name">
    
        <label for="age-enter">Age</label>
        <input type="number" id="age-enter" name="age">
    
        <input type="submit" value="LOGIN"/>
    </div>
</form>

</div>