<div class="top-nav">
    <a href="/about-us">About Us</a>
    <a href="/classes">Classes</a>
    <a href="/facilities">Gym Facilities</a>
    <a href="location">Our Location</a>
    <a href="login">Login</a>
</div>