<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>Test</title>
  <link rel='stylesheet' href='/style.css'>
</head>
<section id="homepage">
    <div class="homepage-link">
        <a href="/superhappyfungym">
            <img src="homepage.png" alt="superhappyfungymlink" height="350" width="350" />
        </a>
    </div>
</section>
<section id="flex">
    <div class="topnav">
        <a href="/about-us">ABOUT US</a>
        <a href="/classes">CLASSES</a>
        <a href="/facilities">GYM FACILITIES</a>
        <a href="location">OUR LOCATION</a>
        <a href="login">LOGIN</a>
    </div>
</section>
<body>
  <%= yield %>
</body>
</html>