<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>The Super Happy Fun Gym</title>
        <link rel='stylesheet' href='/style.css'>
    </head>
    <section id="homepage">
        <div class="homepage-link">
            <a href="/superhappyfungym">
                <img src="/homepage.png" alt="superhappyfungymlink" height="350" width="350" class="homepage-logo"/>
            </a>
        </div>
    </section>
    <section id="flex">
        <div class="topnav">
            <a href="/about-us">ABOUT US</a>
            <a href="/classes">GYM CLASSES</a>
            <a href="/facilities">GYM FACILITIES</a>
            <a href="/staff-login">STAFF PORTAL</a>
            <a href="/register">REGISTER</a>
        </div>
    </section>
    <hr>
    <body>
        <%= yield %>
    </body>
</html>