<form method="post" action="/login" id="member-login-form">
    <div class="member-login-form">
        <label for="first-name-enter">First name</label>
        <input type="text" id="first-name-enter" name="first_name">
    </div>
    <div class="member-login-form">
        <label for="last-name-enter">Last name</label>
        <input type="text" id="last-name_enter" name="last_name">
    </div>
    <div class="member-login-form">
        <label for="age-enter">Age</label>
        <input type="number" id="age-enter" name="age">
    </div>
    <div class="member-login-form">
        <input type="submit" value="LOGIN"/>
    </div>
</form>