<form method="post" action="/new">
<div class="new-class-creation">
    <label for="class-image">Class photo</label>
    <input type="text" id="class-image" name="url">
</div>
<div class="new-class-creation">
    <label for="class-name">Class name</photo>
    <input type="text" id="class-name" name="name">
</div>
<div class="new-class-creation">
    <label for="class-duration">Class duration (minutes)</label>
    <input type="number" id="class-duration" name="duration">
</div>
<div class="new-class-creation">
    <label for="class-capacity">Class capacity</label>
    <input type="number" id="class-capacity" name="capacity">
</div>
<div class="new-class-creation">
    <label for="class-intensity">Class intensity</label>
    <input type="text" id="class-intensity" name="intensity">
</div>
<div class="new-class-creation">
    <label for="class-workout">Workout type</label>
    <input type="text" id="class-workout" name="workout">
</div>
<div class="new-class-creation">
    <label for="class-price">Expected price</label>
    <p>£</p><input type="number" id="class-price" name="price">
</div>
<div class="new-class-creation">
    <input type="submit" value="CREATE CLASS"/>
</div>

</form>