<h1>Staff dashboard</h1>
<div class="staff-login">
<div class="staff-login-form">
<p>Hello &#128075 login below</p>
<form method="post" action="/staff-login">

        <label for="staff-first_name">First name</label>
        <input type="text" id="staff-first-name" name="first_name">
    
        <label for="staff-last-name">Last name</label>
        <input type="text" id="staff-last-name" name="last_name">
    
        <label for="staff-role">Role tag</label>
        <input type="number" id="staff-role" name="role">
    
        <input type="submit" value="LOGIN">

</form>
</div>
</div>