#flex > div.topnav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: sans-serif;
}

#homepage > div.homepage-link {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.gallery {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.topnav {
    background-color: white;
    overflow: hidden;
  }
  
  .topnav a {
    float: left;
    display: block;
    color: #121212;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    border-bottom: 3px solid transparent;
  }
  
  .topnav a:hover {
    border-bottom: 10px solid rgb(243, 17, 96);
  }
  
  .topnav a.active {
    border-bottom: 3px solid rgb(243, 17, 96);
  }