#flex > div.topnav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: sans-serif;
}

div.staff-gallery > p {
    display: flex;
}

#homepage > div.homepage-link {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.about_us_header {
    display: flexbox;
    justify-content: left;
    align-items: flex-start;
}

.gallery-row {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.topnav {
    background-color: white;
    overflow: hidden;
  }
  
.topnav a {
    float: left;
    display: block;
    color: #121212;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    border-bottom: 10px solid transparent;
  }
  
.topnav a:hover {
    border-bottom: 10px solid rgb(243, 17, 96);
  }
  
.topnav a.active {
    border-bottom: 10px solid rgb(243, 17, 96);
  }

  /* form {
    position : relative;
    width  : 740px;
    height : 498px;
    margin : 0 auto;
    padding: 1em;
    box-sizing: border-box;
    background : #FFF;
  
    /* we create our grid */
    /* display  : grid;
    grid-gap : 20px;
    grid-template-columns : repeat(2, 1fr);
    grid-template-rows    : 10em 1em 1em 1em;
  } */ */

/* #member-login-form {
    display: flex;
    align-items: center;
    justify-content: left;
}

.member-login-form  {
    display: flex;
    flex-direction: column;
    align-items: flex-start
} */